*{font-family:verdana,sans-serif}
	body{margin-left:24pt;margin-right:36pt;margin-top:12pt;margin-bottom:24pt;background:	#AFE1AF}
	h1{font-size:27pt}
	h2{font-size:21pt}
	h3{font-size:15pt}
	p,i,table{font-size:12pt}
	table{border:1pt solid dimgrey;border-collapse:collapse}
	th,td{padding-left:5pt;padding-right:7pt;padding-top:3pt;padding-bottom:3pt;text-align:left;border-right:1pt solid dimgrey;border-left:1pt solid dimgrey}
	tr.border {border-bottom:1pt solid dimgrey}
	a:link {color:#4F7942;text-decoration:none}
	a:visited {color:#4F7942;text-decoration:none}
	a.selected:link {color:black;text-decoration:none}
	a.selected:visited {color:black;text-decoration:none}

